
<div class="container-compteur yatzee-height">
    <img *ngFor="let diceOfYatzee of yatzee.myDice"
          [src]="diceOfYatzee.image"
          [alt]="diceOfYatzee.value"
          (click)="diceOfYatzee.isSelected = !diceOfYatzee.isSelected"
          [class.isActive]="diceOfYatzee.isSelected"
    >
</div>
<div class="mt-2">
  <button (click)="yatzee.throwDice()">Lancer dés</button>
  <button [hidden]="yatzee.myDice.length === 0" (click)="yatzee.rerollDice()">Relancer les dés</button>
</div>
