
<nav class="mt-2 ms-2 mb-5">
  <div class="btn-group">
    <!-- routerLink permet d'aller vers le component dont le path est le même (cf : app-routing.module.ts) -->
    <a class="btn btn-success" routerLink="/angular/cours">Cours</a>
    <a class="btn btn-warning" routerLink="/table-multiplication">Table multiplication</a>
    <a class="btn btn-success" routerLink="/angular/compteur">Compteur</a>
    <a class="btn btn-warning" routerLink="/yahtzee">Yahtzee</a>
    <a class="btn btn-success" routerLink="/regions">Régions</a>
  </div>
</nav>
