
<form [formGroup]="userFormGroup">

  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_nickname'"
              name="nickname"
              type="text"
              class="form-control"
              placeholder="Nickname"
              [class.is-invalid]="nickname.invalid && nickname.touched"
      >
    </div>
    <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)"
         class="p-2 ms-2 col-5 alert-danger"
    >
      <div *ngIf="nickname.errors?.required">
        Le nickname est requis
      </div>
      <div *ngIf="nickname.errors?.minlength">
        Le nickname doit faire au moins 5 caractères
      </div>
    </div>
  </div>


  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_email'"
              name="email"
              type="text"
              class="form-control"
              placeholder="Email"
              [class.is-invalid]="email.invalid && email.touched"
      >
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
         class="p-2 ms-2 col-5 alert-danger"
    >
      <div *ngIf="email.errors?.required">
        L'email est requis
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_lastName'"
              name="lastName"
              type="text"
              class="form-control"
              placeholder="Last Name"
      >
    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_firstName'"
              name="firstName"
              type="text"
              class="form-control"
              placeholder="First Name"
      >
    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_address'"
              name="address"
              type="text"
              class="form-control"
              placeholder="Address"
      >
    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_postalCode'"
              name="postalCode"
              type="text"
              class="form-control"
              placeholder="Postal Code"
      >
    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_city'"
              name="city"
              type="text"
              class="form-control"
              placeholder="City"
      >
    </div>
  </div>

  <div class="col-6">
    <select [formControlName]="'_country'" class="form-select">
      <option *ngFor="let country of countryService.arrayCountries" [ngValue]="country">{{country.name}}</option>
    </select>
  </div>

  <div [hidden]="!existingEmail" class="p-2 ms-2 alert-danger">
    L'email existe déjà
  </div>

  <button class="btn btn-primary col-6" [disabled]="userFormGroup.invalid" (click)="onSubmit()">
    Créer User
  </button>
</form>
