
.pink {
  background-color: $border-button-color;
}

.teal {
  background-color: $default-teal;
  color: $main-background-color;
}

.yellow {
  background-color: yellow;
}

.light-green {
  background-color: $light-green;
}

.default-green {
  background-color: $default-green;
}

.dark-green {
  background-color: $dark-green;
  color: $font-color-white;
}

.light-red {
  background-color: $light-red;
  color: $font-color-white;
}

.default-red {
  background-color: $default-red;
  color: $font-color-white;
}

.dark-red {
  background-color: $dark-red;
  color: $font-color-white;
}
