
body {
  background-color: $main-background-color;
  font-size: $font-size;
}

button {
  background-color: $button-background-color-l-40;
  border: $border-button;
  padding: 0.25em 0.8em;
  cursor: pointer;
  border-radius: 0.3em;
  width: 100%;

  &:hover {
    background-color: lightseagreen;
    color: $main-background-color;
  }
}

p {
  margin: 0;
}

.compteur {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
}

.lowPoints {
  background-color: coral;
  color: $main-background-color;
}

.highPoints {
  background-color: darkgreen;
  color: $main-background-color;
}

.global-container {
  width: 50%;

  @media (max-width: 500px) {
    width: 70%;
  }

  @media (max-width: 300px) {
    width: 100%;
  }
}

.container-compteur {
  display: flex;
}

.col-20 {
  width: 20%;

  img {
    width: 100%;
    height: auto;
  }
}

.mt-2 {
  margin-top: 1em;
}

.table {
  width: 100%;
  text-align: center;

  thead > tr > th {
    border-bottom: $border-button;
  }

  tbody > tr > td {
    border-bottom: $border-button;
  }
}

.isActive {
  border: $border-button;
}

.yatzee-height {
  height: 90px;
}

