
$main-background-color: antiquewhite;

$border-button-color: #ff0080;
$border-button-color-d25: darken($border-button-color, 25%);
$button-background-color-l-40: lighten($border-button-color, 40%);
$border-button: 0.08em solid $border-button-color-d25;

$font-size: 16px;
