
<!--<h1>{{getTitle()}}</h1>-->

<!--<p>{{firstApp}}</p>-->

<!--<p *ngIf="dice.value === 6">-->
<!--  SUPER JET DE 6 : {{dice.value}}-->
<!--</p>-->

<!--<p *ngIf="dice.value !== 6; else theSix">-->
<!--  Dé : {{dice.value}}-->
<!--</p>-->

<!--<button (click)="rerollDice()">Relancer le dé</button>-->

<!--<ng-template #theSix>-->
<!--  <p>Bravo vous avez fait un 6 !</p>-->
<!--</ng-template>-->

<!--<button (click)="displayTable()">{{labelButton}}</button>-->
<!--<table [hidden]="!tableDisplayed">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Points</th>-->
<!--      <th>Lettres</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr *ngFor="let score of scores"-->
<!--        class="lowPoints"-->
<!--        [class.highPoints]="score.point >= 8"-->
<!--    >-->
<!--      <td [title]="score.point">{{ getPointUnits(score.point) }}</td>-->
<!--      <td>-->
<!--        <span *ngFor="let alpha of score.alpha">{{alpha}} </span>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->

<div class="global-container pink">
  <div class="container-compteur">
    <div class="col-20">
      <!-- on définit l'action du clic sur le bouton => fonction add qui sera appelée -->
      <button (click)="add(-5)">--</button>
    </div>
    <div class="col-20">
      <button (click)="add(-1)">-</button>
    </div>
    <!-- Succession de tests pour appliquer la classe css située après [class.] -->
    <div class="col-20 compteur"
         [class.yellow]="compteur === 0"
         [class.dark-green]="compteur >= 26"
         [class.default-green]="compteur >= 16 && compteur <= 25"
         [class.light-green]="compteur >= 1 && compteur <= 15"
         [class.light-red]="compteur <= -1 && compteur >= -15"
         [class.default-red]="compteur <= -16 && compteur >= -25"
         [class.dark-red]="compteur <= -26"
    >
      <!-- Affichage d'une variable public qui existe dans le .ts -->
      <p>{{compteur}}</p>
    </div>
    <div class="col-20">
      <button (click)="add(1)">+</button>
    </div>
    <div class="col-20">
      <button (click)="add(5)">++</button>
    </div>
  </div>
  <div>
    <button (click)="reset()">Reset</button>
  </div>
</div>

<div class="global-container light-green mt-2">
  <h2>Moyenne des étudiants</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Notes</th>
        <th>Moyenne</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.grades }}</td>
        <td>{{ calcAverage(student.grades) }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="global-container mt-2">
  <div class="container-compteur yatzee-height">
      <img *ngFor="let diceOfYatzee of yatzee.myDice"
            [src]="diceOfYatzee.image"
            [alt]="diceOfYatzee.value"
            (click)="diceOfYatzee.isSelected = !diceOfYatzee.isSelected"
            [class.isActive]="diceOfYatzee.isSelected"
      >
  </div>
  <div class="mt-2">
    <button (click)="yatzee.throwDice()">Lancer dés</button>
  </div>
</div>
