
<!-- ngForm = directive angular pour représenter un formulaire par le template -->
<!-- #formUser = nom de l'alias pour le formulaire, c'est à dire que l'on peut
 l'utiliser dans le template pour représenter le form -->
<!-- (ngSubmit) = directive angular pour rediriger la soumission du form -->
<form (ngSubmit)="onSubmit()" #formUser="ngForm">
  <div class="input-group">
    <div class="col-6">
      <!-- [(ngModel)] = directive angular qui permet de faire un binding (liaison)
          entre l'input sur lequel il est mis et un attribut (ici l'attribut nickname du user)
       -->
      <!-- #inputUserNickname="ngModel" => alias de l'input (champ du form) -->
      <!-- [class.is-invalid]="inputUserName.touched && inputUserName.invalid" -->
      <!-- On applique la classe is-invalid si le champ a été cliqué au moins une fois (touched) et qu'il est toujours invalide -->
      <input  [(ngModel)]="user.nickname"
              [name]="'nickname'"
              #inputUserNickname="ngModel"
              [class.is-invalid]="inputUserNickname.touched && inputUserNickname.invalid"
              type="text"
              class="form-control"
              placeholder="Pseudo"
              required
              minlength="{{minLength}}"
      >
    </div>
    <div *ngIf="inputUserNickname.invalid && (inputUserNickname.dirty || inputUserNickname.touched)"
      class="p-2 ms-2 col-5 alert-danger"
    >
      <!-- required et minlength sont des validations html -->
      <!-- Angular se base dessus pour vérifier la validité d'un champ -->
      <div *ngIf="inputUserNickname.errors?.required">
        Le nickname est requis
      </div>
      <div *ngIf="inputUserNickname.errors?.minlength">
        Le nickname doit faire au moins {{minLength}} caractères
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [(ngModel)]="user.email"
              [name]="'email'"
              #inputUserEmail="ngModel"
              [class.is-invalid]="inputUserEmail.touched && inputUserEmail.invalid"
              type="text"
              class="form-control"
              placeholder="Email"
              required
              pattern=".+@[\w\W]*"
      >

    </div>
    <div *ngIf="inputUserEmail.invalid && (inputUserEmail.dirty || inputUserEmail.touched)"
         class="p-2 ms-2 col-5 alert-danger"
    >
      <div *ngIf="inputUserEmail.errors?.required">
        L'email est requis
      </div>
      <div *ngIf="inputUserEmail.errors?.pattern">
        Ce n'est pas un email valide
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [(ngModel)]="user.lastName"
              [name]="'lastName'"
              type="text"
              class="form-control"
              placeholder="LastName"
      >

    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [(ngModel)]="user.firstName"
              [name]="'firstName'"
              type="text"
              class="form-control"
              placeholder="FirstName"
      >

    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [(ngModel)]="user.address"
              [name]="'address'"
              type="text"
              class="form-control"
              placeholder="Address"
      >

    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [(ngModel)]="user.postalCode"
              [name]="'postalCode'"
              type="text"
              class="form-control"
              placeholder="PostalCode"
      >

    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [(ngModel)]="user.city"
              [name]="'city'"
              type="text"
              class="form-control"
              placeholder="City"
      >

    </div>
  </div>

  <!-- Ici on disable le bouton, si le formulaire n'est pas valide -->
  <!-- Un formulaire n'est pas valide tant que ses champs ne sont pas valide -->
  <button class="btn btn-primary col-6" type="submit" [disabled]="formUser.invalid">
    Créer User
  </button>
</form>
